body {
    height: 100%;
	margin: 0;
	background: #F8F8F8;
	font-family: Sans-serif;
}


#hh{
    line-height: 40px;
    display: flex;
    justify-content: space-between;
    background-color: black;
}

#headerImg, #nav, #headerline {
    width: 250px;
}

#headerImg img {
    position: absolute;
    border-radius:50%;
	left: 10px;
	top: 10px;
}

h1 {
    color: white;
    text-align: center;
}

#nav ul {
    margin-top: 18px;
    list-style: none;
    margin-right: 0px;
}

#nav li {
    display: inline;
    margin-left: 5px;
}

#nav a{
    color: white;
    text-decoration: none;
}

#description {
    margin-top: 40px;
}

#description img {
    float: left;
	width: 390px;
	height: 450px;
	padding: 0px 20px 35px 120px;
}

#description h2 {
    position: relative;
	top: 10px;
	margin-bottom: 30px;
}

.description-p1 {
    margin-right: 120px;

}

.description-p2 {
	clear: both;
	margin: 0px 120px 0px 120px;
}

#relationship {
    background-color: white;
	margin-top: 60px;
}

#relationship img {
    float: right;
	width: 390px;
	height: 450px;
	padding: 0px 120px 35px 20px;
}

#relationship h2 {
	position: relative;
    top: 10px;
    margin-left: 120px;
    margin-bottom: 30px;
}

.relationship-p1 {
	margin-left: 120px;
}

.relationship-p2 {
	margin: 0px 120px;
}


footer {
    clear: both;
	background-color: #B8B8B8; 
    text-align: center;
	padding: 20px 0px;
	font-family: Sans-serif;
	bottom: 0px;
	width: 100%;
}